<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <!-- 标准输出日志 -->
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss,SSS} [[%t]] %-5p [%c] (%C:%L) - %m%n"/>
        </layout>
    </appender>

    <!-- 系统日志 -->
    <appender name="systemLogAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/opt/logs/task/system.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{HH:mm:ss} %-5p [%t] %C(%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="com.youku" additivity="false">
        <level value="INFO" />
        <appender-ref ref="systemLogAppender" />
        <appender-ref ref="consoleAppender" />
    </logger>
    <logger name="com.laifeng" additivity="false">
        <level value="INFO" />
        <appender-ref ref="systemLogAppender" />
        <appender-ref ref="consoleAppender" />
    </logger>
	<root>
		<priority value="ERROR" />
		<appender-ref ref="systemLogAppender" />
        <appender-ref ref="consoleAppender" />
	</root>
</log4j:configuration>  
